
<link rel="stylesheet" href="css/style.css" />

<div id="bloco">

    <img class="icon" src="image/imagem.jpg">

    <h2>Cuidar Pet Shop</h2>

  </div>

<div class="container">
<form action="/sdd" method="post">
    <p>Nome do Pet:</p><input type="text" name="name" placeholder="Digite o nome do pet"
  required>
  <p>Peso do Pet:</p><input type="text" name="peso" placeholder="Digite o peso do pet" required> Kg's
  <p>Idade do Pet:</p><input type="text" name="idade" placeholder="Apenas números" required> ano(s)
  <p>Raça do Pet:</p><input type="text" name="raca" placeholder="Digite a raça do seu pet" required>
 <p> <button type="submit" class="join">Cadastrar <i class="fa fa-arrow-right"></i></button></p>
</form>

<form action="/menuCliente" method="post"><button class="leave">Voltar para menu</button></form>
</div>



