
<link rel="stylesheet" href="css/style.css" />

<div id="bloco">

    <img class="icon" src="image/imagem.jpg">

    <h2>Cuidar Pet Shop</h2>

  </div>

<div class="container3">
<form action="/sdd" method="post">
    <p>Nome do Animal: </p>
    <input type="text" name="name">
    <p>Peso do animal: </p>
    <input type="text" name="peso">
    <p>Idade do animal: </p>
    <input type="text" name="idade">
    <p>Raça do animal: </p>
    <input type="text" name="raca">
    <br>
    
    <button type="submit"> Cadastrar</button>
</form>
</div>