<!--Tela de Eventos-->
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <title>Cuidar Pet Shop</title>
</head>

<body>

<div id="bloco">

    <img class="icon" src="image/imagem.jpg">

    <h2>Cuidar Pet Shop</h2>

  </div>

    <div class="container">
        <div>
            {{#each pets}}
        
            <h2>Detalhes do(a) {{dataValues.nome}}</h2>

                <h3> Raça: {{dataValues.raça}}</h3>
                <h3> Idade: {{dataValues.idade}} ano(s)</h3>
                <h3> Peso: {{dataValues.peso}} kg's</h3>
        <br>
        <br>
            
             {{/each}}
        </div>
    
        <br>
        
        <form action="/menuCliente" method="post"><button class="leave">Voltar para menu</button></form>
    </div>


</body>

</html>