<!--Tela de Chamados-->
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <title>Cuidar Pet Shop</title>
</head>

<body class="chamados">

    <div class="container">
        <h2>Chamados registrados por:  {{usuario.dataValues.p_nome}} {{usuario.dataValues.sobre_nome}}</h2>
        <div class="boxEventosCadastrdos" style="overflow-y: scroll; max-height: 400px;">
            {{#each chamados}}
            <form action="#" method="post">
            <div class="divEventosCadastrados">
                <h3> <b>Motivo do chamado: </b> {{dataValues.problema}}</h3>
                <button disabled> + Detalhes</button>
                <button disabled>Deletar</button>
            </div>
             </form>
             {{/each}}
             <form action="/menuCliente" method="post"><button class="leave" type="submit">Voltar para menu</button></form>
        </div>
      
    </div>


</body>

</html>